<main>
  <h1>Contact Us</h1>
  <div>
    <form #contactForm="ngForm" class="mx-4" (ngSubmit)="send()">
      <div class="form-group">
        <label for="name">Name : </label>
        <input class="form-control" name="name" type="text" id="name" [(ngModel)]="contact.name" required>
        <div *ngIf="contactForm.controls.name&&contactForm.controls.name.invalid" class="text-danger">Name is Required</div>
      </div>
      <div class="form-group">
        <label for="city">City : </label><input class="form-control" name="city" type="text" id="city" [(ngModel)]="contact.city">
      </div>
      <div class="form-group">
        <label for="email">Email : </label><input class="form-control" type="text" name="email" id="email" [(ngModel)]="contact.email" required email>
        <div *ngIf="contactForm.controls.email&&contactForm.controls.email.invalid" class="text-danger">Email is invalid</div>
      </div>
      <div class="form-group">
        <label for="message">Message : </label><textarea class="form-control" row="5" name="message" id="message" [(ngModel)]="contact.message"
        required></textarea>
        <div *ngIf="contactForm.controls.message&&contactForm.controls.message.invalid" class="text-danger">Message can not be empty</div>
      </div>
      <button [disabled]="!contactForm.valid" type="submit" class="btn btn-success">Send</button>
    </form>
    <p>
    <ngb-alert class="my-4" type="success" *ngIf="alertVisible" (close)="alertVisible=false">
      We appreciate your feed back. Thank You.
    </ngb-alert>
      </p>
  </div>
</main>