<main>
  <div class='row container-fluid mt-4'>
    <div class='col-md-6'>
      <div class="card" *ngFor='let article of shoppingCart;'>
        <div class="card-body row">
          <div class="col-md-2"><img class="img-thumbnail" [src]='article.product.imagelink'></div>
          <div class="col-md-2">{{article.product.name}}</div>
          <div class="col-md-2">{{article.product.price}}</div>
          <div class="col-md-2"><input class="form-control" type="number" /></div>
          <div class="col-md-2">{{article.product.price*article.quantity}}</div>
          <div class="col-md-2"><a aria-label="delete" class="" (click)="remove(article)"><span class="glyphicon glyphicon-remove"
                aria-hidden="true"></span></a></div>
        </div>
      </div>
    </div>
    <div class="col-md-6 card">
      <div class="card-body">
        <h2 class="card-title">Cart Summary</h2>
        <div class="row">
          <div class="col-md-4 mb-3">Subtotal</div>
          <div class="col-md-8">{{subtotal}}</div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">Shipping</div>
          <div class="col-md-8">{{shipping}}</div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">Tax</div>
          <div class="col-md-8">{{tax}}</div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">Total</div>
          <div class="col-md-8">{{total}}</div>
        </div>
      </div>
    </div>
  </div>
</main>