<footer class="footer">
  <nav class="navbar navbar-dark bg-white">
    <p class="nav-link text-success"><span class="fa fa-copyright"></span></p>
    <p class="nav-link text-success">support@wwi.com</p>
    <p><a class="nav-link text-success" routerLink="/" routerLinkActive="active">Home</a></p>
    <p><a class="nav-link text-success" routerLink="contact" routerLinkActive="active">Contact us</a></p>
    <p><a class="nav-link text-success" routerLink="about" routerLinkActive="active">About us</a></p>
  </nav>
</footer>