<header class='fixed-top'>
  <nav class='navbar navbar-expand-md bg-dark'>
    <a routerLink="/" id="headerTitleFull" routerLinkActive="active" class="navbar-brand">World Wide Importers</a>
    <a routerLink="/" id="headerTitleShort" routerLinkActive="active" class="navbar-brand">WWI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span id="menuIcon" class="text-success fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      <a class="nav-link" routerLink="/shopping" routerLinkActive="active">Shopping</a>
      <a class="nav-link" routerLink="/cart" routerLinkActive="active"><span class="fa fa-shopping-cart"></span></a>
    </div>
  </nav>
</header>