header h1{
    float: left;
    padding: 10px;
    margin-block-end: 0em;
    margin-block-start: 0em;
}

header li{
    float: right;
    padding: 10px;
}

header ul {
    list-style: none;
    height: 50px;
  }
  

header a:hover {
    border-bottom: 2px antiquewhite solid;
  }

  header a{
      color: antiquewhite;
      font-size: 1.5em;
      cursor: pointer;
  }

  header{
    background-color: #222;
    color: antiquewhite;
    height: 100px;
    position: fixed;
    z-index: 5;
    width: 100%;
  }