<header class='fixed-top header'>
  <nav class='navbar navbar-expand-md bg-white'>
    <div class="navbar-brand">
    <a routerLink="/" class="text-success" id="headerTitleFull" routerLinkActive="active" >World Wide Importers</a>
    <a routerLink="/" class="text-success" id="headerTitleShort" routerLinkActive="active">WWI</a>
  </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span id="menuIcon" class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <a class="nav-link text-success" routerLink="/" routerLinkActive="active">Home</a>
      <a class="nav-link text-success" routerLink="/shopping" routerLinkActive="active">Shopping</a>
      <a class="nav-link text-success" routerLink="/cart" routerLinkActive="active"><span class="fa fa-shopping-cart"></span></a>
    </div>
  </nav>
</header>