<main class="d-flex flex-column justify-content-around">
  <section *ngIf='!loading; else isLoading'>
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let item of items; let i = index">
        <figure class="carousel-item-container">
          <a routerLink="/product/{{item.name}}" routerLinkActive="active">
            <img class="img-fluid" class="carrousel-image" [src]="item.imagelink" [alt]="item.name">
            <figcaption class="carousel-caption">
              <h3>{{item.name}}</h3>
              <p>Only {{item.price}}$</p>
            </figcaption>
          </a>
        </figure>
      </ng-template>
    </ngb-carousel>
  </section>
  <ng-template #isLoading>
    <app-loading></app-loading>
  </ng-template>
  <section class="container-fluid">
    <a class="btn btn-success btn-lg" routerLink="/shopping" routerLinkActive="active">
      Go Shopping
    </a>
  </section>
</main>