/* You can add global s to this file, and also import other  files */
body{
    margin: 0px;
    background-color:#dfdfdf;
}
main{
    min-height: 100vh;
    padding-top: 70px;
    padding-bottom:50px;
}

main section{
    margin-bottom: 5vh;
}

.card-body {
    border-top:1px solid rgba(223,215,202,0.75);
}
#mainAbout{
    padding-top: 54px;
}

#headerTitleFull{
    visibility:collapse;
}

#aboutUsPicture{
    height:40vh;
}

.carrousel-image{
    height:250px;
    width: auto;
}


.header .nav-link{
    border-left: 1px solid black;
}

.header .navbar-brand{
    border-right: 1px solid black;
    
}

footer{
    border-top: 1px solid black;
}

.header .navbar{
    border-bottom: 1px solid black;
}

a{
    color: black;
}

.product-card{
    height: 75vh;
}

#productPageImg{
    max-height:75vh;
}

.shopping-image{
    height:250px
}

.image-cart{
    max-height: 100px;
}

#aboutUsJumbotron{
    background-image: url("../images/1479163855618-shutterstock-173610971.jpg")
}


@media screen and (min-width: 480px) {
    #headerTitleFull{
        visibility: visible;
    }
    #headerTitleShort{
        visibility: collapse;
    }
}