<main>
  <article *ngIf='article?.product; else isLoading' class="row container-fluid my-3">
    <section class="col-md-6">
      <div class="card product-card">
        <img class="card-img img-fluid my-auto" id="productPageImg" [src]="article.product.imagelink" [alt]="article.product.name">
      </div>
    </section>
    <section class="col-md-6">
      <div class="card product-card">
        <form #myForm="ngForm" class="card-body row h-100 justify-content-around" (ngSubmit)="addToCart();">
          <div class="col-md-8 card my-auto">{{article.product.name}}</div>
          <div class="col-md-8 card my-auto container d-flex flex-row justify-content-center text-warning">
            <div [ngClass]='article.product.rating>0?"fa-star":"fa-star-o"' class="fa"></div>
            <div [ngClass]='article.product.rating>1?"fa-star":"fa-star-o"' class="fa"></div>
            <div [ngClass]='article.product.rating>2?"fa-star":"fa-star-o"' class="fa"></div>
            <div [ngClass]='article.product.rating>3?"fa-star":"fa-star-o"' class="fa"></div>
            <div [ngClass]='article.product.rating>4?"fa-star":"fa-star-o"' class="fa"></div>
          </div>
          <div class="col-md-8 card my-auto">{{article.product.price}}$</div>
          <div class="col-md-8 card my-auto">{{article.product.description}}</div>
          <div class="col-md-8 form-group form-check my-auto">
            <label for="quantity">Quantity :</label>
            <div class="input-group">
              <input type="number" class="form-control" name="quantity" [(ngModel)]="article.quantity" appIsPositiveInteger [appMaxValue]='article.product.cashedStock'>
              <div class="input-group-append">
                <span class="input-group-text">/{{article.product.cashedStock}}</span>
              </div>
            </div>
            <div *ngIf="myForm.controls.quantity&&myForm.controls.quantity.invalid&&myForm.controls.quantity.errors.isNotPositiveInteger" class="text-danger">Quantity must be a positive number</div>
            <div *ngIf="myForm.controls.quantity&&myForm.controls.quantity.invalid&&myForm.controls.quantity.errors.IsTooBig" class="text-danger">Not enough stock available</div>
          </div>
          <button type="submit" [disabled]="!myForm.valid" class="col-6 my-auto btn btn-success">Add To Cart</button>
        </form>
      </div>
    </section>
  </article>
  <footer class="row container-fluid d-flex flex-row justify-content-center my-3">
    <div class="card col-4">
      <a class="card-body text-success" routerLink="/shopping" routerLinkActive="active">
        <i class="card-img-top fa fa-arrow-left"></i>
        Back to Shop
      </a>
    </div>
  </footer>
</main>
<ng-template #isLoading>
  <div *ngIf="loading; else notFound" class="container d-flex flex-column justify-content-around">
    <app-loading></app-loading>
  </div>
</ng-template>
<ng-template #notFound>
  <div class="container d-flex flex-column justify-content-around">
    <h1>
      Oops! That product doesn't exist.
    </h1>
  </div>
</ng-template>