<main class="d-flex flex-column" id="mainAbout">
    <header class="jumbotron jumbotron-fluid" id="aboutUsJumbotron">
        <div class="container">
            <h1 class="display-3">World Wide Importers</h1>
            <p class="lead">Lorem ipsum dolor</p>
            <hr class="my-2">
        </div>
    </header>
    <article>
            <h2>
                Lorem ipsum
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nulla dui, aliquam id egestas in, pretium et nisi. Sed placerat libero quis risus egestas lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat mauris sit amet diam commodo, vitae laoreet velit egestas. Vestibulum in leo non tellus auctor. 
            </p>
    </article>
</main>